.slideshow-container {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    
}

.slide {
    display: none;
    
}

img {
    width: 100%;
    border-radius: 10px;
}

.caption {
    text-align: center;
    padding: 10px;
    font-size: 24px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 20px;
}

.dots-container {
    text-align: center;
    margin-top: 10px;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    opacity: 0.5;
}

.dot.active {
    opacity: 1;
}
